<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
      <form method="post" action="/piglatinize">
        <label>Enter your phrase:</label><br>
        <input type="string" name="user_phrase" value=""><br>
        <input type="submit">
      </form>
  </body>
</html>
